.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container p {
    text-align: center;
    color: #4a8fe7;
}

.reg__err{
    background-color: white;
    padding: .5em .5em;
    border-radius: 5px;
    margin-top: .5em;
}

.reg__err p {
    color: #d81e5b !important;
    margin-right: 0.5em;
    white-space: nowrap;
}

.container form input[type="password"],
.container form input[type="text"] {
    border-radius: 0.4em;
    border: none;
    margin-top: 0.9em;
    height: 50px;
    width: 500px;
    padding-left: 0.9em;
    background-color: rgb(0, 0, 0, 0);
    border-bottom: 0.07em solid #50514f;
    outline: none;
    color: black;
}

.btns {
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.regLoginBtn {
    position: relative;
    padding: 0.5em 1.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    color: black;
    background-color: white;
    margin: 1em 3em;
}

.regLoginBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #f4ac45;
    color: white;
}

.regLoginBtn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.regLoginBtn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.regLoginBtn::after {
    background-color: #f4ac45;
    color: white;
}

.regLoginBtn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes vibrate {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: -3px;
        left: 3px;
    }

    50% {
        top: 0px;
        left: 0px;
    }

    75% {
        top: 3px;
        left: -3px;
    }

    100% {
        top: 0px;
        left: 0px;
    }
}

.errVibrate {
    position: relative;
    animation: vibrate 0.1s linear 0s 30;
}
